/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family:Arial, Helvetica, sans-serif;
}
#header #nav img {
    float: left;
    width: 50px;
    position: relative;
    border-radius: 30px;
}
header {
    text-align: center;
    margin-top: 50px;
    background-color: #F1C4C8;
}
body {
    background-color: #f3f3f3!important;
}
#main #header{
    background-color: #E30019;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
/* --------------nav---------------- */
#header #nav {
    text-align: center;
    height: 40px;
}
#nav > img{
    width: 100%;
}
#nav,.subnav {
    list-style-type: none;
}
#nav .subnav > li:hover > a,
#nav > li:hover > a{
    color: rgb(0, 0, 0);
    background-color: #fff; 
}
#nav .subnav {
    display: none;
    position: absolute;
    background-color: #E30019;
    border-radius: 7px;
}
#nav .subnav a {
    color: black;
    padding: 0px;
    width: 162px;
    font-weight: 550;
}
#nav li {
    position: relative;
    text-align: center;
}
#nav > li {
    display: inline-block;
}
#nav .subnav li {
    display: inline;
}
#nav > li > a {
    color:#fff;
    text-transform:uppercase;
    font-weight: 550;
    text-align: center;
}
#nav li a {
    text-decoration: none;
    line-height: 50px;
    padding: 0 15px;
    display:block;
    text-align: center;
}
#nav li a > i {
    font-size: 19px;
    margin-right: 5px;
}
#nav li:hover .subnav{
    display: block;
}
#nav li:nth-child(6) {
    padding-left: 15px;
    position: relative;
}
#nav li:nth-child(6) input {
    height: 38px;
    width: 230px;
    border: none;
    border-radius: 5px;
}
#nav li:nth-child(6) i {
    position: absolute;
    font-size: 19px;
    right: 12px;
    color: #333;
    line-height: 38px;
}
#nav .login { 
    width: 110px;
    margin-top: 10px;
}
#nav .fa-user-circle {
    float:right;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    margin-right: 12px;
    margin-bottom: 10px;
}
#nav .fa-user-circle i:hover{
    color: #333;
    background-color: #ccc;
}
#nav .fa-user-circle i {
    position: absolute;
}
.login {
    display: inline-block;
}
#nav .login button {
    height: 30px;
    width: 80px;
    text-align: center;
    margin-left: 15px;
    color: black;
}
#nav  li :nth-child(8) {
    width: 100px;
}
input {
    font-size:17px;
}
/* ------------------sidenav-------------- */
#sidenav {
    margin-top: 10px;
    border-radius: 13px;
    height:500px;
    width: 250px;
    padding: 7px;
    background-color: rgb(219, 235, 248);
    display: block;
}
.col-sm-3 {
    width: auto;
}
.item > a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.item {
    padding: 8px;
    margin: auto;
    border: none;
    display: block;
}
img {
    max-width: 100%;
    height: auto;
}

#sidenav .sidenav-1 .item a {
    text-decoration: none;
}
#sidenav .sidenav-1 :hover {
    background-color: #f3f3f3; 
}
#sidenav .sidenav-1 .sub-menu .cap-2:hover {
    color: #0d6efd;
}
#sidenav .sidenav-1 .item .fa-chevron-right{
    float: right;
    padding: 8px;
}
#sidenav b {
    font-size: 22px;
}
.sidenav-1 .col-sub-menu {
    width: 20%;
    float: left;
    padding: 0 10px;
}
.sub-menu {
    position: absolute;
    display: none;
    left: 254px;
    background: #f3f3f3;
    height: 500px;
    top: 10px;
    width: 980px;
    z-index: 2;
    border-radius: 5px;
}
.item .sub-menu .cap-1 {
    color: #e80104;
    font-weight: bold;
    margin-top: 15px;
}
.item .sub-menu a {
    display: block;
    line-height: 1.7;
    color: #000000;
}
.item .sub-menu .boxx a,
.item .sub-menu .boxx a:hover {
    text-decoration: none;
    display: block;
}
.sidenav-1 :hover .sub-menu {
    display: block;
    position: absolute;
}
.sidenav-1 .item a {
    color: #000000;
}
@media screen and (max-width: 767px) {
    .col-sm-3  {
        width: 250px;
        height: 470px;
        padding: 5px;
    }
    #sidenav .sub-menu{
        margin-top: 20px;
        left: 240px;
    }
}
@media screen  and (max-width:915px){
    #sidenav {
        margin-top: 20px;
    }
    #sidenav .sub-menu {
        margin-top: 10px;
    }
}
/* -------- slider----- */
#slider {
    margin: auto;
    max-width: 960px;
    position: relative;
    margin-top: 30px; 
} 
#slider .bgr {
    margin-left: 82px;
}
#silder .bgr img {
    width: 100%;
    vertical-align: middle;
}
.col-sm-9 .slider-left {
    width: 210px;
}

@media screen and (max-width:1329px) {
    .slider-left, .slider-right {
        display: none;
    }
}
.slider-left img {
    margin-top: -670px;
}
.col-sm-9 .slider-right {
    width: 210px;
    float: right;
}
.slider-right img{
    margin-top: -710px;
   
}
@media screen and (max-width:1600px) {
    .col-sm-9 .slider-left {
        width: 110px;
    }
    .col-sm-9 .slider-right {
        width: 110px;
        float: right;
    }
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
}
.next {
    right: 86px;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 82px;
}
.prev:hover, .next:hover {
    background-color: rgba(175, 227, 195, 0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,.dot:hover {
    background-color: #717171;
}
.bgr {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes bgr {
    from {opacity: .4} 
    to {opacity: 1}
}
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
 @media screen and (max-width:1137px) {
    .col-sm-9  {
        width: 800px;
        display: block;
    }
     #sidenav{ 
        width: auto;
        height: 440px;
        padding: 4px;
    }
    .sidenav-1 .item {
        padding: 6px;
    }
    .item .sub-menu {
        left: 248px;
        height: 460px;
    }
    .next {
        right: 68px;
        border-radius: 3px 0 0 3px;
    }
        
}
  @media screen and (max-width:1100px) {
    .col-sm-9  {
        width: 700px;
        display: block;
    }
    .next {
        right: 58px;
        border-radius: 3px 0 0 3px;
    }
}
@media screen and (max-width:997px) {
    .col-sm-9  {
        width: 550px;
        display: block;
    }
    .next {
        right: 46px;
        border-radius: 3px 0 0 3px;
    }
    #slider .bgr {
        margin-top: 30px;
    }
}
/* --------------Nội dung-------------- */
#container {
    padding: 2px;
    margin-left: 10px;
}
.contents .contents-spnb {
    height: 50px;
    background-color: #fff;
    border-radius: 9px;  
}
.contents .contents-spnb .contents-spnb-left a {
    width: 200px;
    text-align: center;
    margin-left: 5px;
    float: left;
    margin-top: 15px;
    color: #000000;
    font-size: 18px;
    font-weight: 550;
    text-decoration: none;
}
.contents .contents-spnb .contents-spnb-left a:hover,
.contents .contents-spnb .contents-spnb-right a:hover{
    color: #E30019;
}
.contents .contents-spnb .contents-spnb-center {
    margin-left: 200px;
    width: 200px;
    text-align: center;
}
.contents .contents-spnb .contents-spnb-center i {
    font-size: 25px;
    margin-top: 13px;
    color: #E30019;
}   
.contents .contents-spnb .contents-spnb-center span {
   padding: 0 12px;
   text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #E30019;
}
.contents .cut {
    height: 4px;
    background-color: #f3f3f3;
}
.contents .contents-spnb .contents-spnb-right a {
    margin-top: 16px;
    float: right;
    width: 100px;
    text-align: center;
    text-decoration: none;
}
#container .contents ul {
    display: inline-block; 
    width: 1300px;
    margin: 0 310px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}
.contents ul .content {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 1.5rem;
    margin-right: 0.5rem;
    display: block;
    float: left;
    width: 23%;
    border: 1px solid #333;
    width: 250px;
    height: 430px;
    border-radius: 2px;
}
@media screen and (max-width:1577px){
    #container .contents ul {
        width: 92%;
        
        margin: 0 110px;
        margin-top: 30px;
    }
}
@media screen and (max-width:1200px){
    #container .contents ul {
        width: 92%;
        margin: 0 60px;
        margin-top: 30px;
    }
    .contents ul .content{
        width: 23%;
    }
    .content .content-1 .content-1-price {
        margin-left: 30px;
    }
}
@media screen and (max-width:840px){
    .content-1 {
        height: 140px;
    }
    .contents ul .content {
        width: 18%;
        display: block;
        height: 320px;
        float: left;
    }
    .content .content-1 .content-1-h3 {
        font-size: 12px;
        font-weight: 550;
    } 
    .content .content-1 .content-1-buy {
        font-size: 10px;
        padding-top: 1px;
        width: 90px;
        
    }
    .content .content-1 .content-1-price .price .money {
        font-size: 9px;
    }
    .content-1 .content-1-price .btn-card {
        margin-left: 2px;
        font-size: 9px;
    }
    .col-sm-9 {
        width: 510px;
    }
    .content-1 .content-1-bottom .content-1-bottom-right {
        display: none;
    }
}
.contents ul .no-margin {
    margin-right: 0;
  }
.contnet .img-content .img-ct img {
    width: 100px;
    height: auto;
}
.content-1 .content-1-h2 {
    padding-top: 2px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(130, 134, 158);
    padding-left: 7px; 
}
.content-1 a {
    text-decoration: none;
}
.content-1 .content-1-h3 {
    overflow: hidden;
    color: #333;
    font-weight: 550;
    font-size: 16px;
    height: 43px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
    margin: 0 0 6px;
}
.content .content-1 .content-1-buy {
    width: 126px;
    height: 20px;
    color: #E30019;
    margin-left: 10px;
    border: 1px solid #E30019;
    text-align: center;
}
.content-1 .content-1-price {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin-bottom:  20px;
    height: 30px;
}
.content .content-1 .content-1-price .price {
    color: #E30019;
    font-weight: 600;
    margin: 6px 18px;
    vertical-align: middle;
    font-size: 17px;
    margin-left: 10px;
}
.content-1 .content-1-price .price .money {
    vertical-align: middle;
}
.content-1 .content-1-price .btn-card {
    background: #fff158;
    border-radius: 4px;
    color: #000000;
    font-weight: 600;
    margin-right: 38px;
    height: 35px;
    text-align: center;
    padding-top: 8px;
}
.content-1 .content-1-price .btn-card:hover {
    background: #c7b200;
}
.content-1 .content-1-bottom  {
    margin-left: 10px;
    margin-top: 25px;
    line-height: 20px;
    display: flex;
}
.content-1 .content-1-bottom a {
    color: #717171;
}
.content-1 .content-1-bottom .content-1-bottom-right {
    color: #c4b106;
    margin-left: 15px;
    line-height: 20px;
}

/* -------- Số trang  đang truy cập----- */

.next-page {
    width: 100%;
    height: 70px;
    background-color:#deddde;
    text-align: center;
}
.next-page .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
  
.next-page .pagination a.active {
    background-color: rgb(27, 141, 255);
    color: white;
    border-radius: 8px;
}
  
.next-page .pagination a:hover:not(.active) {
    background-color: #dddddd;
}

/* -----------Chân Trang---------- */

#top-footer {
    border-top: 3px solid rgb(20, 53, 195);
    position: relative;
    height: 450px; 
}
.top-footer-1 {
    width: 100%;
}
.top-footer-1 .top-footer-1-right,
.top-footer-1 .top-footer-1-center,
.top-footer-1 .top-footer-1-left {
    padding: 8px 20px;
    font-size: 14px;
    margin: 0px;
    float: left;
}
.top-footer-1 .top-footer-1-right .top-footer-1-right-content-1 {
    padding-top: 10px;
    margin-top: 1px;
    width: 20px;
    height: 10px;
}
.top-footer-1 .top-footer-1-right .top-footer-1-right-content,
.top-footer-1 .top-footer-1-center .top-footer-1-center-content,
.top-footer-1 .top-footer-1-left .top-footer-1-left-content {
    font-size: 12px;
    padding-top: 15px;
}
.top-footer-1 .top-footer-1-right .top-footer-1-right-content :hover,
.top-footer-1 .top-footer-1-center .top-footer-1-center-content :hover,
.top-footer-1 .top-footer-1-left .top-footer-1-left-content :hover {
   color: #0d6efd;
    display: block;
}
.top-footer-1 .top-footer-1-right .top-footer-1-right-content  a ,
.top-footer-1 .top-footer-1-center .top-footer-1-center-content a,
.top-footer-1 .top-footer-1-left .top-footer-1-left-content a{
    display: flex;
    color: #000000;
    text-decoration: none;
    padding-top: 10px;
}   
@media screen and (min-width: 40em) {
    .top-footer-1-right,
    .top-footer-1-center,
    .top-footer-1-left {
        width: 33,3333%;
    }
}
.top-footer-1 .top-footer-1-center .top-footer-1-center-content .fa-facebook-square,
.top-footer-1 .top-footer-1-center .top-footer-1-center-content .fa-youtube-play,
.top-footer-1 .top-footer-1-center .top-footer-1-center-content .ti-twitter-alt,
.top-footer-1 .top-footer-1-center .top-footer-1-center-content .fa-users{
    font-size: 14px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    text-align: center;
    padding-right: 5px;
}   

#footer {
    background-color: rgb(233, 237, 242);
    color: #fff;
    text-align: center;
    width: 100%;
    color: #000000;
}
.footer-1 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    padding: 20px 10px;
}
@media screen and (min-width: 40em){
    .footer-right,.footer-left {
        width: 50%;
    }
}
.footer-right {
    font-size: 14px;
    text-align: left; 
    left: 0;
}
.footer-right-1 {
    font-size: 12px;
    padding-right: 8px;
    text-align: left; 
}
.footer-left{
    font-size: 12px;
    margin: 0;
    text-align: left;    
}
.footer-img {
    width: 100%;
    max-width: 160px;
    line-height: 2rem;
}
.ft-img1 {
    display: block;
}
.footer-img img {
    float: left;
    overflow-x: auto;
    overflow-y: auto;
}

/* ---------- lap-top-van-phong------------ */

#container-laptop .header-ltvp img{
    max-width: 100%;
    padding: 10px 20px ;
    border-radius: 3px; 
}
.content-laptop .top-content-ltvp {
   height: 80px;
}
.content-laptop .top-content-ltvp .top-content-ltvp-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}
.content-laptop .top-content-ltvp .top-content-ltvp-1 .top-content-ltvp-2 a {
        text-decoration: none;
}
.content-laptop .top-content-ltvp .top-content-ltvp-1 .top-content-ltvp-2 .top-content-ltvp-3 .fa-sort-desc {
    float: right;
    font-size: 15px;
}
.content-laptop .top-content-ltvp .top-content-ltvp-1 .top-content-ltvp-2 {
    padding: 4px 9px;
    margin-left: 4px;
    border: 1px solid #CFCFCF;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
}
.content-laptop .top-content-ltvp .top-content-ltvp-1 .top-content-ltvp-2 .top-content-ltvp-3 {
    color: #000000;
    padding: 4px 7px;
}
.content-laptop {
    width: 1295px;
    background-color: #fff;
    margin-left: 220px;
    border-radius: 4px;
}
.space-top-ltvp {
    width: 100%;
    height: 3px;
    background-color: #0d6efd;
    margin-top: 15px;
}
 .css-1 i {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 15px;
}
 .css-1  b {
    font-size: 20px;
    margin-left: 15px;
}
.css-1 a{
    text-decoration: none;
    color: #333;
}
.css-1 a:hover {
    color: #E30019
}
.content-laptop ul {
    display: inline-block;
}
.content-laptop ul .content-ltvp {
    display: block;
    width: 18%;
    width: 250px;
    height: 420px;
    border: 1px solid #717171;
    margin: 5px 3px;
    float: left;
    border-radius: 2px;
}
.content-laptop ul .no-margin {
    margin-right: 0;
  }
.content-laptop .img-content-ltvp{
    text-align: center;
    position: relative; 
}
.content-laptop .img-content-ltvp img {
    width: 100%;
    height: auto;
}
.content-laptop .content-1-ltvp {
    width: 250px;
    height: 198px;
    position: relative;
    box-sizing: border-box;
}
.content-laptop .content-1-ltvp .content-1-a-ltvp {
    color: #333;
    font-weight: 550;
    font-size: 16px;
    line-height: 20px;
    margin: 6px 0;
    text-decoration: none;
    padding-left: 3px;
}
.content-laptop .content-ltvp .system-ltvp {
    background-color: #cbc6c6;
    width: 238px;
    height: 40px;
    margin: 6px;
    border-radius: 3px;
    font-size: 11px;  
}
.content-ltvp .system-ltvp .core-ltvp {
    margin-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    float: left;
}
.content-laptop .content-ltvp .content-1-buy {
    width: 123px;
    height: 23px;
    color: #E30019;
    margin-left: 10px;
    border: 1px solid #E30019;
    text-align: center;
}
.content-laptop .content-ltvp .content-1-price-ltvp .price-ltvp .money-ltvp{
    font-size: 16px;
    color: #E30019;
    font-weight: 600;
    line-height: 20px;
    margin-left: 10px;
    padding-top: 10px;
}
.content-laptop .content-ltvp .content-1-price-ltvp .price-ltvp span {
    display:  block;
}
.content-laptop .content-ltvp .content-rating {
    color: #FF8A00;
    font-weight: 550;
    font-size: 15px;
    padding-left: 5px;
}
@media  (max-width:567px) {
    .content-laptop .img-content-ltvp {
        padding: 1px;
    }
}
@media screen and (max-width:1577px){
    .content-laptop {
        margin-left: 110px; 
     }
}
@media screen and (max-width:1515px) {
    .content-laptop {
       margin-left: 60px; 
    }
    .content-laptop ul .content-ltvp {
        width: 19%;
    }
}
@media screen and (max-width:1300px) {
    .content-laptop ul .content-ltvp {
        width: 18%;
        height: 410px;
    }
    .content-laptop .content-ltvp .system-ltvp {
        width: 210px;    
    }
    .content-laptop .content-ltvp .system-ltvp .core-ltvp {
        font-size: 10px;
    }
}
@media screen and (max-width:909px) {
    .content-laptop .top-content-ltvp{
        height: 130px;
        width: 80%;
    }
}
/* support */
.jumbotron-support {
    background-color: #eadddd;
      padding: 3rem;
      margin-top: 30px;
      border-radius: 15px;
      box-shadow: 0px 0px 15px 0px rgba(216, 7, 7, 0.1);
  }
.collapse .nav-item .nav-link:hover {
    color: #E30019;
    background-color: #CFCFCF;
    border-radius: 3px;
    font-weight: 600;
}